@{
    ViewBag.Title = "About me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am an experienced technologist with front-end and back-end development knowledge and the ability to clearly communicate technical components of a system to clients. Most of my technical experience is with C# and Microsoft SQL databases, but I also have experience with Java. Recently I obtained the Certified Scrum Master (CSM) certification in pursuit of my first Scrum Master role in an enterprise setting. I have experience with the following skills: JIRA, Confluence, Trello, Java, C#, JavaScript, HTML, CSS, Microsoft SQL Server, Oracle SQL Developer, VSCode, as well as project management and database administration. I have worked in diverse teams and hope to share my unique perspective in many more fulfilling projects.</p>
