@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Denver,CO<br />
    <p>Mobile Phone</p>
    256.293.7856
</address>

<address>
    <strong>Personal:</strong>   <a href="mailto:bjhinkle22@gmail.com">bjhinkle22@gmail.com</a><br />
</address>