@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to my website!</h1>
    <p class="lead">Feel free to explore and get to better know me.</p>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>I am a die hard Chelsea fan, I watch every game they play.</h2>
        <img class='img-responsive' src='https://i.imgur.com/n19MXNE.jpg'>
        <p>
            Eden Hazard is my favorite player, although I am afraid he is leaving for Real Madrid this summer.
        </p>
    </div>
    <div class="col-md-4">
        <h2>I am currently a Software Engineer in Denver, Colorado.</h2>
        <img class='img-responsive' src='https://i.imgur.com/QzsJ0lf.png?1'>
        <p>
           I am currently expanding my skill-set to include AWS Developer skills, as well as a solid understanding of .NET Framework, ASP.NET MVC, and Entity Framework.
        </p>
    </div>
    <div class="col-md-4">
        <h2>The University of Alabama is where I studied Management Information Systems and obtained a Bachelor's of Science.</h2>
        <img class='img-responsive' src='https://i.imgur.com/T6wNrf8.jpg'>
        <p>
            Of course, I can't mention this without noting that my college class was the most winning football class in NCAA history.
        </p>
    </div>
</div>
